<!-- BEGIN page_title_block -->
Σετ τύπου PostgreSQL 8.0
<!-- END page_title_block -->

<h1>Σετ τύπου PostgreSQL 8.0</h1>

<p>Νέα Υόρκη: ## 19 Ιανουαρίου 2005 – Το Παγκόσμιο Τμήμα Ανάπτυξης της PostgreSQL ανακοίνωσε την έκδοση 8.0 της σχεσιακής βάσης δεδομένων PostgreSQL, ενισχύοντας τη θέση της ως την πιο εξελιγμένη βάση δεδομένων ανοιχτού κώδικα στον κόσμο. Η έκδοση αυτή συμπεριλαμβάνει λειτουργίες που μέχρι τώρα ήταν διαθέσιμες μόνο στα πιο ακριβά εμπορικά συστήματα βάσεων δεδομένων, και αναμένεται να επεκτείνει δραστικά την υϊοθέτηση της PostgreSQL τόσο από χρήστες όσο και από εταιρείες λογισμικού.</p>

<p>Εκτός από τις σημαντικές βελτιώσεις στην επεκτασιμότητα, λειτουργικότητα και τις επιδόσεις, η PostgreSQL 8.0 αποδεικνύει την απαράμιλλη ταχύτητα ανάπτυξης του ανοιχτού κώδικα. Περισσότερες από 12 εταιρείες, μεταξύ των οποίων οι Red Hat, Fujitsu, Afilias, Software Research Associates, Inc., 2nd Quadrant, και Command Prompt Inc., καθώς και εκατοντάδες ανεξάρτητοι προγραμματιστές, συνεισέφεραν για να προστεθούν περισσότερες σημαντικές λειτουργίες στην έκδοση 8.0 από ότι είχαν προστεθεί σε οποιαδήποτε προηγούμενη έκδοση.</p>

<p>"Είμαστε σίγουροι ότι αυτές οι λειτουργίες για επιχειρήσεις θα προσελκύσουν ένα μεγάλο αριθμό νέων χρηστών της PostgreSQL.", είπε ο κ. Takayuki Nakazawa, Διευθυντής της ομάδας εργασίας Βάσης Δεδομένων Ανοιχτού Λογισμικού στο Τμήμα Λογισμικού. "Η Fujitsu είναι περήφανη για τη χορηγία της σε συνεισφορές στην PostgreSQL και για τη δουλειά της με την κοινότητα της PostgreSQL. Είμαστε αφοσιωμένοι στο να βοηθήσουμε να γίνει η PostgreSQL το κυρίαρχο Σύστημα Διαχείρισης Βάσεων Δεδομένων."</p>

<p>Μεταξύ των νέων λειτουργιών είναι οι ακόλουθες:</p>

<ul>
<li><b>Εγγενής Υποστήριξη Windows</b>:  Η PostgreSQL τώρα λειτουργεί εγγενώς στα συστήματα Windows και δε χρειάζεται κάποιο επίπεδο εξομοίωσης. Αυτό παρέχει δραστικά βελτιωμένες επιδόσεις σε σχέση με τις προηγούμενες εκδόσεις, και προσφέρει μία ελκυστική εναλλακτική λύση σε εμπορικές βάσεις δεδομένων για ανεξάρτητους κατασκευαστές λογισμικού, εταιρικούς χρήστες και μεμονωμένους προγραμματιστές σε περιβάλλον Windows.</li>
<li><b>Σημεία Αποθήκευσης</b>: Αυτή η λειτουργία, κατά το πρότυπο SQL, επιτρέπει να ακυρωθούν συγκεκριμένα τμήματα μίας συναλλαγής, χωρίς την ακύρωση όλης της συναλλαγής. Αυτό θα ωφελήσει τους προγραμματιστές επαγγελματικών εφαρμογών που απαιτούν σύνθετες συναλλαγές με ανάκτηση από σφάλματα.</li>
<li><b>Ανάκτηση Στο Χρόνο</b>:  Αυτή η λειτουργία επιτρέπει πλήρη ανάκτηση από την αυτοματοποιημένη και συνεχή καταγραφή συναλλαγών. Παρέχει μία επί μακρόν ζητούμενη εναλλακτική λύση σε ωριαία ή ημερήσια αντίγραφα ασφαλείας για κρίσιμες υπηρεσίες βασισμένες στην PostgreSQL.</li>
<li><b>Χώροι Πινάκων</b>:  Ύψιστης σημασίας για τους διαχειριστές συστημάτων αποθήκευσης δεδομένων της τάξης των πολλών gigabytes, είναι οι χώροι πινάκων (tablespaces) που επιτρέπουν την τοποθέτηση των μεγάλων πινάκων και ευρετηρίων στους δικούς τους, ανεξάρτητους δίσκους ή συστοιχίες δίσκων, βελτιώνοντας τις επιδόσεις των ερωτημάτων. </li>
<li><b>Βελτιωμένη Μνήμη και Εισαγωγή/Εξαγωγή</b>:  Η χρήση δίσκων και μνήμης έχει βελτιστοποιηθεί μέσω της χρήσης του αλγόριθμου Adaptive Replacement Cache, του νέου προγράμματος εγγραφής στο παρασκήνιο, και της νέας λειτουργία καθυστέρησης εκκαθάρισης. Αυτό θα έχει ως αποτέλεσμα πιο προβλέψιμο φόρτο και συνεπώς πιο σταθερές επιδόσεις κατά τις ώρες εκτεταμένης χρήσης.</li>
</ul>

<p>Ο Javier Soltero, Αρχι-μηχανικός στην Hyperic LLC, είπε, "Η PostgreSQL 8.0 μας δίνει τον υψηλό βαθμό αμεσότητας και διαμεταγωγής δεδομένων που απαιτούνται από το προϊόν μετρήσεων της εταιρείας μας, το HQ. Η εγγενής υποστήριξη της PostgreSQL 8.0 στα Windows σημαίνει για μας ότι τώρα μπορούμε να ενσωματώσουμε την PostgreSQL στο προϊόν μας και να ωφεληθούμε από την αποδεδειγμένη επεκτασιμότητα και την απόδοσή της, καθώς επίσης και από την άδειά της, η οποία μας επιτρέπει να την περιλάβουμε στη διανομή μας ελεύθεροι από εμπορικές υποχρεώσεις."</p>

<p>Επιπλέον των πολλών λειτουργιών που ενσωματώθηκαν σε αυτή την έκδοση, η PostgreSQL έχει βελτιωθεί επιταχύνοντας την ανάπτυξη των προαιρετικών και επιπρόσθετων συστατικών τμημάτων κατά το τελευταίο έτος. Το εργαλείο αντιγραφής Slony-I και το pgPool, το πρόγραμμα συγκέντρωσης/διαχείρισης συνδέσεων, χρησιμοποιούνται ήδη και τα δύο για συστοιχίες εξυπηρετητών υψηλής διαθεσιμότητας. Διάφορες γλώσσες έτοιμων διαδικασιών έχουν προστεθεί ή επεκταθεί, μεταξύ των οποίων οι PL/Java, PL/PHP και PL/Perl, ενώ οι παροχείς συνδέσεων Npgsql και PGsqlClient .NET έχουν βελτιωθεί για να υποστηρίζουν τους πολλούς νέους χρήστες σε περιβάλλον Windows.</p>

<p>Για μία πλήρη λίστα και περιγραφή των πολλών νέων λειτουργιών στην έκδοση 8.0, παρακαλούμε δείτε τη <a href="/about/press">σελίδα μας για τον τύπο</a>.<p>

<p><b>Σχετικά με την PostgreSQL</b>: Η PostgreSQL είναι η συλλογική εργασία εκατοντάδων προγραμματιστών, βασισμένη σε σχεδόν είκοσι χρόνια ιστορίας ανάπτυξης που ξεκίνησε στο Πανεπιστήμιο της Καλιφόρνια στο Μπέρκλεϋ. Με την μακροπρόθεσμη υποστήριξή της, λειτουργιών επαγγελματικού επιπέδου όπως οι συναλλαγές, οι αυτόματες διαδικασίες (triggers) και τα υπο-ερωτήματα, η PostgreSQL χρησιμοποιείται σήμερα σε πολλές από τις πιο απαιτητικές επιχειρήσεις και κυβερνητικούς οργανισμούς.  Η PostgreSQL διατίθεται υπό την άδεια χρήσης BSD, η οποία επιτρέπει τη χρήση και διανομή της χωρίς χρέωση, τόσο για εμπορικές όσο και για μη-εμπορικές εφαρμογές.</p>

<p>Για να μάθετε περισσότερα για την PostgreSQL ή για να την αποκτήσετε, παρακαλούμε επισκεφθείτε τη διεύθυνση: <a href="http://www.postgresql.org/">http://www.postgresql.org/</a></p>

<h2>Επιπρόσθετη Λειτουργικότητα σε Αυτή την Έκδοση</h2>

<p>Εκτός από τις κύριες λειτουργίες που αναφέρονται ανωτέρω, υπάρχουν διάφορες νέες λειτουργίες και βελτιώσεις που θα ενδιαφέρουν ιδιαίτερα τους υπάρχοντες χρήστες της PostgreSQL.</p>

<ul>
<li><b>Λειτουργίες</b>:  Οι λειτουργίες της PostgreSQL υποστηρίζουν τώρα το στυλ γραφής-μέχρι-διακοπής με χρήση του συμβόλου του δολαρίου για επισήμανση, επιτρέποντας στους χρήστες να αποφύγουν πολλαπλά συνεχόμενα εισαγωγικά. Επιπλέον, ένα όφελος που προκύπτει από τα νέα Σημεία Αποθήκευσης (Savepoints), είναι ότι οι λειτουργίες PL/pgSQL έχουν τώρα μία περιορισμένη ικανότητα χειρισμού εξαιρέσεων χρησιμοποιώντας το όρισμα <code>EXCEPTION</code>.</li>

<li><b>Σχεδίαση Βάσης Δεδομένων</b>: Οι διαχειριστές βάσεων δεδομένων μπορούν τώρα να αλλάξουν τον τύπο δεδομένων των στηλών χρησιμοποιώντας την εντολή <code>ALTER TABLE</code>. Ο ορισμός των στηλών με σύνθετους τύπους δεδομένων υποστηρίζεται τώρα σύμφωνα με το πρότυπο SQL. Όλα τα αντικείμενα της βάσης υποστηρίζουν πλέον την εντολή <code>CHANGE OWNER</code>.</li>

<li><b>Εισαγωγή/Εξαγωγή Δεδομένων</b>:  Η εντολή <code>COPY</code> υποστηρίζει πλέον την πολύ συνηθισμένη μορφή αρχείων κειμένου χωρισμένου με κόμματα (CSV), κάνοντας τις εισαγωγές και εξαγωγές από / προς άλλο λογισμικό ευκολότερες.</li>

<li><b>Βελτιώσεις του βελτιστοποιητή</b>:  Ο σχεδιαστής και ο εκτελεστής ερωτημάτων χρησιμοποιούν πλέον τα ευρετήρια για συμβατούς τύπους δεδομένων, μειώνοντας δραστικά την ανάγκη ειδικής αναφοράς σταθερών τιμών. Αυτή η έκδοση συμπεριλαμβάνει επίσης βελτιωμένη χρήση ευρετηρίων, καλύτερη βελτιστοποίηση προτάσεων που περιέχουν OR, βελτιωμένη δειγματοληψία για την εντολή <code>ANALYZE</code>, ταχύτερη εντολή <code>TRUNCATE</code>, και καλύτερη δημιουργία έτοιμων σχεδίων ερωτημάτων, καθώς και πολλές μικρές βελτιώσεις, που είναι πάρα πολλές για να τις αναφέρουμε.</li>

<li><b>Καταγραφή</b>: Οι διαχειριστές μπορούν πλέον να ορίσουν αυτόματη περιστροφή του αρχείου καταγραφής της PostgreSQL μέσω του αρχείου postgresql.conf. Η καταγραφή της PostgreSQL είναι επίσης πολύ πιο παραμετροποιήσιμη απ’ ότι στο παρελθόν, συμπεριλαμβάνοντας ορισμένα προθέματα στις γραμμές από το διαχειριστή, καταγραφή συγκεκριμένων τύπων δηλώσεων SQL, και καταγραφή αποσυνδέσεων.</li>

<li><b>Αντίγραφα ασφαλείας</b>: Το φορητό εργαλείο αντιγράφων ασφαλείας της PostgreSQL, pg_dump, έχει σε μεγάλο βαθμό ξαναγραφεί. Αυτή η έκδοση προσθέτει μερικές νέες δυνατότητας όπως ώρα έναρξης και λήξης, ενώ εξαλείφονται πλήρως τα υπολειπόμενα προβλήματα δικαιωμάτων πρόσβασης και εξαρτήσεων στα αντίγραφα ασφαλείας.</li>
</ul>

<p>Φυσικά, υπάρχουν πολλές ακόμα αλλαγές και βελτιώσεις. Δείτε τις <a href="/docs/8.0/static/release.htm">Σημειώσεις Έκδοσης</a> για την πλήρη αναφορά.</p> 

<h2>Πλήρες κείμενο Αναφορών</h2>

<p>"Η Fujitsu είναι πολύ ικανοποιημένη με τις νέες λειτουργίες στην PostgreSQL 8.0. Είμαστε σίγουροι ότι αυτές οι λειτουργίες για επιχειρήσεις θα προσελκύσουν ένα μεγάλο αριθμό νέων χρηστών της PostgreSQL.", είπε ο κ. Takayuki Nakazawa, Διευθυντής της ομάδας εργασίας Βάσης Δεδομένων Ανοιχτού Λογισμικού στο Τμήμα Λογισμικού. "Η Fujitsu είναι περήφανη για τη χορηγία της σε συνεισφορές στην PostgreSQL και για τη δουλειά της με την κοινότητα της PostgreSQL. Είμαστε αφοσιωμένοι στο να βοηθήσουμε να γίνει η PostgreSQL το κυρίαρχο Σύστημα Διαχείρισης Βάσεων Δεδομένων."</p>

<p>Ο Javier Soltero, Αρχι-μηχανικός στην Hyperic LLC, είπε, "Η PostgreSQL 8.0 μας δίνει τον υψηλό βαθμό αμεσότητας και διαμεταγωγής δεδομένων που απαιτούνται από το προϊόν μετρήσεων της εταιρείας μας, το HQ. Η ομάδα μας αξιολόγησε τις εμπορικές και ανοικτές βάσεις δεδομένων σε Java και δεν μπόρεσε να βρει κάποια που να ικανοποιεί τις ανάγκες μας. Η εγγενής υποστήριξη της PostgreSQL 8.0 στα Windows σημαίνει για μας ότι τώρα μπορούμε να ενσωματώσουμε την PostgreSQL στο προϊόν μας και να ωφεληθούμε από την αποδεδειγμένη επεκτασιμότητα και την απόδοσή της, καθώς επίσης και από την άδειά τηÏ, η οποία μας επιτρέπει να την περιλάβουμε στη διανομή μας ελεύθεροι από εμπορικές υποχρεώσεις. Η ομάδα της PostgreSQL έχει κατακτήσει μία καλή φήμη για την ποιότητα η οποία αποδείχθηκε από τις πρώτες δοκιμαστικές εκδόσεις της 8.0 που εξετάσαμε."</p>


<h2>Από που να αποκτήσετε την έκδοση 8.0:</h2>
<ul>
<li><a href="/download/mirrors-ftp">Λίστα Κατοπτρισμών FTP</a></li>
<li><a href="/download/bittorrent">Bittorrent</a></li>
<li><a href="http://pgfoundry.org/projects/pginstaller/">Εγκαταστάτης Windows</a> (επίσης διαθέσιμος μέσω του Bittorrent)</li>
<li><a href="http://sourceforge.net/projects/pgsql/">SourceForge</a> (συμπεριλαμβανομένου του εγκαταστάτη Windows)</li>
</ul>

<h2>Επικοινωνία για Περισσότερες Πληροφορίες</h2>

	<p>Στα Ελληνικά:<br />
		Μιχάλης Καμπριάνης<br />
		Κινητό: +306972211305<br />
		<a href="mailto:el at postgresql.org">el at postgresql.org</a></p>

	<p>Ή στα Αγγλικά:<br />
		Josh Berkus<br />

		PostgreSQL Project<br />
		+1-415-752-2500<br />
		<a href="mailto:josh at postgresql.org">josh at postgresql.org</a></p>

<h2>Σύνδεσμοι σε άλλους πόρους για την PostgreSQL</h2>

<h3>Τεκμηρίωση</h3>

<ul>
<li><a href="/docs">Επίσημη Τεκμηρίωση</a></li>
<li><a href="http://techdocs.postgresql.org">TechDocs</a></li>
<li><a href="http://www.varlena.com/GeneralBits">General Bits</a></li>
</ul>

<h3>Οδηγοί</h3>

<ul>
<li><a href="http://jdbc.postgresql.org/">JDBC</a></li>
<li><a href="http://gborg.postgresql.org/project/psqlodbc/projdisplay.php">ODBC</a></li>
<li><a href="http://gborg.postgresql.org/project/npgsql/projdisplay.php">.Net</a></li>

</ul>

<h3>Γραφικά Περιβάλλοντα Διεπαφής</h3>

<ul>
<li><a href="http://www.pgadmin.org/">pgAdminIII</a></li>
<li><a href="http://phppgadmin.sourceforge.net/">phpPgAdmin</a></li>
<li><a href="http://www.pgaccess.org/">pgAccess</a></li>
<li><a href="http://techdocs.postgresql.org/guides/GUITools">Λίστα άλλων ΓΠΔ</a></li>
</ul>
	

<h3>Αναπαραγωγή</h3>
<ul>
<li><a href="http://www.slony.info/">Slony-I</a></li>
<li><a href="http://pgfoundry.org/projects/pgpool/">pgPool</a></li>
<li><a href="http://www.erserver.com/">eRServer</a></li>
</ul>

<h3>Σχετικά Έργα</h3>
<ul>
<li><a href="http://projects.postgresql.org">pgFoundry</a></li>
<li><a href="http://gborg.postgresql.org">GBorg</a></li>
</ul>

<h2>Πληροφορίες Σχετικά με τις Αναφερθείσες Εταιρείες</h2>

<p><b>Σχετικά με τη Fujitsu</b>: Η Fujitsu είναι ένας από τους κύριους παροχείς πελατοκεντρικών λύσεων IT και τηλεπικοινωνιών, για την παγκόσμια αγορά. Πρωτοπόρες τεχνολογίες, αξιόπιστες πλατφόρμες υπολογιστών και επικοινωνιών και στρατιές ειδικών σε συστήματα και υπηρεσίες ανά τον κόσμο, θέτουν τη Fujitsu στη μοναδική θέση  να παραδίδει εκτενείς λύσεις που ανοίγουν άπειρες δυνατότητες για την επιτυχία των πελατών της. Έχοντας τα κεντρικά της γραφεία στο Τόκυο, η Fujitsu Limited (TSE: 6702) ανέφερε συνολικά έσοδα της τάξης των 4,7 τρισεκατομμυρίων γιέν (45 εκατομμύρια δολάρια Αμερικής) για το οικονομικό έτος που τελείωσε στις 31 Μαρτίου 2004. Γενικές πληροφορίες για τη Fujitsu είναι διαθέσιμες στο: <a href="http://www.fujitsu.com">http://www.fujitsu.com</a>.. Λεπτομέρειες για την κίνηση Fujitsu Supported PostgreSQL (FSP), συμπεριλαμβάνοντας ένα έγγραφο συζήτησης (White Paper), είναι διαθέσιμες στο: <a href="http://fastware.com.au/postgresql.html">http://fastware.com.au/postgresql.html</a>. Παρακαλούμε, απευθύνετε τις ερωτήσεις σας προς: 
Liam O'Duibhir, Fujitsu Australia Software Technology,  <a href="mailto:liamod at fast.fujitsu.com.au">liamod στο fast.fujitsu.com.au</a>, τηλέφωνο (61-2) 9452 9068 (Μόνο Αγγλικά)</p>

<p><b>Σχετικά με την Hyperic</b>: Η Hyperic, LLC είναι μία εταιρεία τεχνολογίας εστιασμένη στην παράδοση τεχνολογιών για τη διαχείριση Πληροφοριακής υποδομής, τόσο ανοιχτού κώδικα όσο και εμπορικής υποδομής. Η ναυαρχίδα των προϊόντων της έχει σκοπό να προσφέρει μία εναλλακτική λύση σε ακριβά, παρωχημένα συστήματα διαχείρισης, παρέχοντας μία ανοιχτή, επεκτάσιμη πλατφόρμα βασισμένη στο web, η οποία προσφέρει εκτενή υποστήριξη για όλες τις τεχνολογίες που χρησιμοποιούνται στην πληροφορική σήμερα. Για περισσότερες πληροφορίες, επικοινωνήστε με το <a href="mailto:press at hyperic.net">press στο hyperic.net</a> (Αγγλικά, Ισπανικά)</p>
