{%extends "base/page.html"%}
{%block title%}PostgreSQL 10 Press Kit{%endblock%}
{%block contents%}

<h1>PostgreSQL 10 Press Kit</h1>

<h2>Contents</h2>

<p>
 &nbsp; <a href="#original_release">Text of Original Release</a><br />
 &nbsp; <a href="#features">More About The Features</a><br />
 &nbsp; <a href="#download">Where to Download</a><br />
 &nbsp; <a href="#docs">Documentation</a><br />
 &nbsp; <a href="#license">License</a><br />
 &nbsp; <a href="#contact">Contacts</a><br />
 &nbsp; <a href="#graphics">Images and Logos</a><br />
 &nbsp; <a href="#about">About PostgreSQL</a><br />
 &nbsp; <a href="#quoted_companies">Quoted Companies and Full Text of Quotes</a>
 <br />
 &nbsp; <a href="#companies">Corporate Support</a><br />
</p>

<img src="https://www.postgresql.org/media/img/about/press/elephant64.png" />

<a name="original_release"></a><h2>Original Press Release</h2>

<p>5 OCTOBER 2017 - The PostgreSQL Global Development Group today announced
  the release of PostgreSQL 10, the latest version of the world's most
  advanced open source database.</p>

<p>A critical feature of modern workloads is the ability to distribute data
  across many nodes for faster access, management, and analysis, which is
  also known as a &quot;divide and conquer&quot; strategy. The PostgreSQL
  10 release includes significant enhancements to effectively implement the
  divide and conquer strategy, including native logical replication,
  declarative table partitioning, and improved query parallelism.</p>

<p>&quot;Our developer community focused on building features that would take
  advantage of modern infrastructure setups for distributing workloads,&quot;
  said Magnus Hagander, a <a href="/developer/core/">core team</a> member of the
  <a href="/">PostgreSQL Global Development Group</a>. &quot;Features such as
  logical replication and improved query parallelism represent years of work and
  demonstrate the continued dedication of the community to ensuring Postgres
  leadership as technology demands evolve.&quot;
</p>

<p>This release also marks the change of the versioning scheme for PostgreSQL
  to a &quot;x.y&quot; format.  This means the next minor release of
  PostgreSQL will be 10.1 and the next major release will be 11.</p>

<b>Logical Replication - A publish/subscribe framework for distributing data</b>

<p>Logical replication extends the current replication features of PostgreSQL
  with the ability to send modifications on a per-database and per-table level
  to different PostgreSQL databases.  Users can now fine-tune the data
  replicated to various database clusters and will have the ability to perform
  zero-downtime upgrades to future major PostgreSQL versions.</p>

<p>&quot;We have been heavily using PostgreSQL since 9.3 and are very excited
  about version 10 since it brings basis for long-awaited partitioning and
  built-in logical replication. It will allow us to use PostgreSQL in even more
  services,&quot; said Vladimir Borodin, DBA Team Lead at
  <a href="https://www.yandex.com/" target="_blank">Yandex</a>.</p>

<b>Declarative Table Partitioning - Convenience in dividing your data</b>

<p>Table partitioning has existed for years in PostgreSQL but required a user
  to maintain a nontrivial set of rules and triggers for the partitioning to
  work.  PostgreSQL 10 introduces a table partitioning syntax that lets users
  easily create and maintain range and list partitioned tables.  The addition of
  the partitioning syntax is the first step in a series of planned features to
  provide a robust partitioning framework within PostgreSQL.</p>

<b>Improved Query Parallelism - Quickly conquer your analysis</b>

<p>PostgreSQL 10 provides better support for parallelized queries by allowing
  more parts of the query execution process to be parallelized.  Improvements
  include additional types of data scans that are parallelized as well as
  optimizations when the data is recombined, such as pre-sorting. These
  enhancements allow results to be returned more quickly.</p>

<b>Quorum Commit for Synchronous Replication - Distribute data with confidence</b>

<p>PostgreSQL 10 introduces quorum commit for synchronous replication, which
  allows for flexibility in how a primary database receives acknowledgement that
  changes were successfully written to remote replicas.  An administrator can
  now specify that if any number of replicas has acknowledged that a change to
  the database has been made, then the data can be considered safely written.
</p>

<p>&quot;Quorum commit for synchronous replication in PostgreSQL 10 gives more
  options to extend our ability to promote database infrastructure with nearly
  zero downtime from the application perspective. This allows us to continuously
  deploy and update our database infrastructure without incurring long
  maintenance windows,&quot; said Curt Micol, Staff Infrastructure Engineer at
  <a href="https://www.simple.com/" target="_blank">Simple Finance</a>.</p>

<b>SCRAM-SHA-256 authentication - Secure your data access</b>

<p>The Salted Challenge Response Authentication Mechanism (SCRAM) defined in
  <a href="https://tools.ietf.org/html/rfc5802" target="_blank">RFC5802</a>
  defines a protocol to improve upon the secure storage and transmission of
  passwords by providing a framework for strong password negotiation.
  PostgreSQL 10 introduces the SCRAM-SHA-256 authentication method, defined in
  <a href="https://tools.ietf.org/html/rfc7677" target="_blank">RFC7677</a>, to
  provide better security than the existing MD5-based password authentication
  method.</p>

<a name="features"></a><h2>More About the Features</h2>
<p>
For explanations of the above features and others, please see the following
resources:
</p>
<ul>
  <li><a href="https://www.postgresql.org/docs/current/static/release-10.html">Release Notes</a></li>
  <li><a href="https://wiki.postgresql.org/wiki/New_in_postgres_10">What's New in 10</a></li>
  <li><a href="/about/featurematrix">Feature matrix (English only)</a></li>
  <li><a href="https://momjian.us/main/writings/pgsql/features.pdf">Major Features slide deck</a></li>
  <li><a href="https://www.hagander.net/talks/PostgreSQL_10.pdf">Major Features slide deck (2)</a></li>
</ul>

<a name="download"></a><h2>Downloads</h2>
<ul>
  <li><a href="/download/">Downloads page</a> with links to Windows, Linux, OSX,
    BSD and Solaris installers and tools.</li>
  <li><a href="/ftp/source/v10.0">Source Code</a></li>
  <li><a href="https://hub.docker.com/_/postgres/">Postgres Docker image</a></li>
  <li><a href="http://pgxn.org">PostgreSQL Extension Network</a></li>
</ul>

<a name="docs"></a><h2>Documentation</h2>

<p>
HTML documentation and man pages are installed with PostgreSQL, but feel free to
browse our online documentation at <a href="/docs/10/static/">online
  documentation</a>.
</p>

<a name="license"></a><h2>License</h2>
<p>
PostgreSQL uses the <a href="/about/licence/">PostgreSQL License</a>, a BSD-like
&quot;permissive&quot; license. This
<a href="http://www.opensource.org/licenses/postgresql/">OSI-certified license
</a> is widely appreciated as flexible and business-friendly, since it does not
restrict the use of PostgreSQL with commercial and proprietary applications.
Together with multi-company support and public ownership of the code, our
license makes PostgreSQL very popular with vendors wanting to embed a database
in their own products without fear of fees, vendor lock-in, or changes in
licensing terms.
</p>

<a name="contact"></a><h2>Contacts</h2>

<p>Web Pages</p>
<ul>
<li><a href="https://www.postgresql.org/">PostgreSQL home page</a></li>
</ul>

<p>English-Language Press Inquiries</p>

<p>USA, Canada and General Inquiries<br />
PostgreSQL Press Team<br />
<a href="mailto:press@postgresql.org">press@postgresql.org</a><br />
Phone: +1 (347) 674-7759</p>

<p>Ireland<br />
Raymond O'Donnell<br />
<a href="mailto:ie@postgresql.org">ie@postgresql.org</a><br />
+353 (0)87 2241365</p>

<p>United Kingdom<br />
Simon Riggs<br />
<a href="mailto:uk@postgresql.org">uk@postgresql.org</a><br />
+44-7900-255520</p>

<p>Finland<br />
Jussi Mikkola
<br /><a href="mailto:fi@postgresql.org">fi@postgresql.org</a>
<br />Cell: +46-708-969691
</p>

<p>Sweden<br />
Magnus Hagander
<br /><a href="mailto:se@postgresql.org">se@postgresql.org</a>
<br />Cell: +46-708-969691
</p>

<p>Malaysia<br />
Chris Travers
<br /><a href="mailto:my@postgresql.org">my@postgresql.org</a>
</p>

<p>Australia<br />
Arul Shaji Arulappan and Richard Sayad
<br /><a href="mailto:au@postgresql.org">au@postgresql.org</a>
</p>

<p>For contacts in other regions, see <a href="/about/press/contact/">our
  international contact list.</a></p>

<a name="graphics"><h2>Images and Logos</h2></a>

<img src="https://www.postgresql.org/media/img/about/press/elephant64.png" >

<ul>
<li><a href="https://www.postgresql.org/media/img/about/press/elephant.png">PostgreSQL Elephant Logo, PNG format</a></li>
<li><a href="https://www.postgresql.org/media/img/about/press/elephant64.jpg">PostgreSQL Elephant Icon</a></li>
<li><a href="https://www.postgresql.org/media/img/about/press/slonik_with_black_text_and_tagline.gif">PostgreSQL Banner with Logo, Elephant and Slogan</a></li>
</ul>
<p>
All logos are available for modification and redistribution under The PostgreSQL
License.  The PostgreSQL name and logo are trademarks of The PostgreSQL
Community Association of Canada.
</p>

<a name="about"></a><h2>About PostgreSQL</h2>
<p>
PostgreSQL is the world's most advanced open source database, with a global
community of thousands of users, contributors, companies and organizations.
The PostgreSQL Project builds on over 30 years of engineering, starting at the
University of California, Berkeley, and has continued with an unmatched pace of
development. PostgreSQL's mature feature set not only matches top proprietary
database systems, but exceeds them in advanced database features, extensibility,
security and stability.  Learn more about PostgreSQL and participate in our
community at <a href="https://www.postgresql.org">PostgreSQL.org</a>.
</p>

<a name="quoted_companies"></a><h2>Quoted Company Information and Full Text of Quotes</h2>
<p>&quot;Our developer community focused on building features that would take
  advantage of modern infrastructure setups for distributing workloads,&quot;
  said Magnus Hagander, a <a href="https://www.postgresql.org/developer/core/">
  core team</a> member of the <a href="https://www.postgresql.org/">
  PostgreSQL Global Development Group</a>. &quot;Features such as logical
  replication and improved query parallelism represent years of work and
  demonstrate the continued dedication of the community to ensuring Postgres
  leadership as technology demands evolve.&quot;
</p>
<p>PostgreSQL is the world's most advanced open source database, with a global
community of thousands of users, contributors, companies and organizations.
The PostgreSQL Project builds on over 30 years of engineering, starting at the
University of California, Berkeley, and has continued with an unmatched pace of
development. PostgreSQL's mature feature set not only matches top proprietary
database systems, but exceeds them in advanced database features, extensibility,
security and stability.  Learn more about PostgreSQL and participate in our
community at <a href="https://www.postgresql.org">PostgreSQL.org</a>.
</p>
<p>&quot;We have been heavily using PostgreSQL since 9.3 and are very excited
  about version 10 since it brings basis for long-awaited partitioning and
  built-in logical replication. It will allow us to use PostgreSQL in even more
  services,&quot; said Vladimir Borodin, DBA Team Lead at
  <a href="https://www.yandex.com/" target="_blank">Yandex</a>.
</p>
<p>
<a href="https://yandex.com/" target="_blank">Yandex</a> is a technology company
that builds intelligent products and services powered by machine learning. Yandex's
goal is to help consumers and businesses better navigate the online and offline
world. Since 1997, Yandex has delivered world-class, locally relevant search and
information services. Additionally, Yandex has developed market-leading on-demand
transportation services, navigation products, and other mobile applications for
millions of consumers across the globe.  To contact Yandex, please visit
<a href="https://yandex.com/company/contacts/" target="_blank">
  https://yandex.com/company/contacts/
</a>
</p>
<p>&quot;Quorum commit for synchronous replication in PostgreSQL 10 gives more
  options to extend our ability to promote database infrastructure with nearly
  zero downtime from the application perspective. This allows us to continuously
  deploy and update our database infrastructure without incurring long
  maintenance windows,&quot; said Curt Micol, Staff Infrastructure Engineer at
  <a href="https://www.simple.com/" target="_blank">Simple Finance</a>.</p>
<p>Founded in 2009, <a href="https://www.simple.com/" target="_blank">Simple</a>
  is a technology company that’s changing the way people bank and think about
  their money. Simple's product blends budgeting and banking into a single
  beautiful app, with tools that help people save for the things they need and
  spend responsibly on the things they want.  Contact
  <a href="https://www.simple.com/" target="_blank">Simple</a> at
  <a href="mailto:press@simple.com">press@simple.com</a>
</p>

<a name="companies"></a><h2>Corporate Support</h2>

<p>PostgreSQL enjoys the support of numerous companies, who sponsor developers,
  provide hosting resources, and give us financial support.  See our
  <a href="/about/sponsors/">sponsors page</a> for
  some of these project supporters.</p>

<p>There is also a large community of
  <a href="/support/professional_support/">companies offering PostgreSQL Support
  </a>, from individual consultants to multinational companies.</p>

<p><a href="/about/donate/">Donations</a> gladly accepted.</p>

<p>Or you can buy some of this fine merchandise from our
  <a href="http://www.zazzle.com/postgresql">Zazzle PostgreSQL Store</a>
</p>
{% endblock %}
