<p dir="rtl">
קבוצת הפיתוח הגלובלית של PostgreSQL הודיעה היום על שחרורה של
<a href="https://www.postgresql.org/docs/13/release-13.html">PostgreSQL 13</a>
, הגרסה העדכנית ביותר של
<a href="https://www.postgresql.org/"> מסד הנתונים המתקדם בעולם עם קוד פתוח </a>
</p>


<p dir="rtl">
PostgreSQL 13 כולל שיפורים משמעותיים במערכת האינדקסים ומנועי חיפוש אשר מוסיפים יתרונות למסדי נתונים גדולים, כולל חיסכון באחסון שיפורי ביצועים לאינדקסים, זמני ביצוע מהירים יותר לשאילתות המשתמשות באגרגטים או מחיצות, תכנון שאילתות טוב יותר בעת שימוש בסטטיסטיקה משופרת ועוד.
</p>


<p dir="rtl">
לצד תכונות מבוקשות מאוד כמו
<a href="https://www.postgresql.org/docs/13/sql-vacuum.html"> parallelized vacuuming </a>
ו
<a href="https://www.postgresql.org/docs/13/runtime-config-query.html#GUC-ENABLE-INCREMENTAL-SORT"> incremental sorting </a>
מערכת מספקת חוויית ניהול נתונים טובה יותר לעומסי עבודה גדולים וקטנים, עם אופטימיזציות לניהול יומיומי, יותר נוחות למפתחי אפליקציות ושיפור האבטחה.
</p>


<p dir="rtl">
"PostgreSQL 13 מציגה את שיתוף הפעולה והמסירות של הקהילה הגלובלית שלנו לקידום היכולות של מסד נתונים יחסיים עם קוד פתוח המתקדם ביותר בעולם," אמר Peter Eisentraut, חבר בצוות הליבה של PostgreSQL. "החידושים שכל מהדורה מביאה יחד עם המוניטין שלה כאמינות ויציבות הם הסיבות לכך שאנשים רבים יותר בוחרים להשתמש ב- PostgreSQL עבור היישומים שלהם."
</p>


<p dir="rtl">
<a href="https://www.postgresql.org"> PostgreSQL </a>
זאת מערכת ניהול נתונים חדשנית הידועה באמינותה ובחוסנה, נהנית ממעל 25 שנות פיתוח קוד פתוח מ
<a href="https://www.postgresql.org/community"> קהילת מפתחים עולמית </a>
והפכה לבסיס נתונים רלציוני הפתוח המועדף על ארגונים מכל הגדלים.
</p>


<h3 dir="rtl">
המשך שיפורי ביצועים
</h3>


<p dir="rtl">
בהתבסס על עבודה מהמהדורה הקודמת, PostgreSQL 13 יכולה לטפל ביעילות ב
<a href="https://www.postgresql.org/docs/13/btree-implementation.html#BTREE-DEDUPLICATION"> נתונים כפולים ב B-tree אינדקסים </a>
, האינדקס הסטנדרטי של מסד הנתונים. זה מקטין את גודל האחסון שדרוש לאינדקס B-tree תוך שיפור ביצועי השאילתות הכוללים.
</p>


<p dir="rtl">
PostgreSQL 13 מציגה מיון מצטבר, כאשר נתונים ממוינים בשלב מוקדם בשאילתה ויכולים להאיץ את המיון בשלב מאוחר יותר. בנוסף, PostgreSQL יכולה כעת להשתמש
<a href="https://www.postgresql.org/docs/13/planner-stats.html#PLANNER-STATS-EXTENDED"> בסטטיסטיקה המורחבת </a>
 (נגישה באמצעות
<a href="https://www.postgresql.org/docs/13/sql-createstatistics.html"> `CREATE STATISTICS` </a>
) כדי ליצור תוכניות משופרות לשאילתות עם סעיפי 'OR' וחיפושים 'IN' / 'ANY' על פני רשימות.
</p>


<p dir="rtl">
ב- PostgreSQL 13, סוגים נוספים של
<a href="https://www.postgresql.org/docs/13/functions-aggregate.htm"> aggregate </a>
ו
<a href="https://www.postgresql.org/docs/13/queries-table-expressions.html#QUERIES-GROUPING-SETS"> grouping set </a>
כאשר שאילתות יכולות למנף את הפונקציונליות של hash aggregation יעילה של PostgreSQL, שכן שאילתות עם אגרגטים גדולים אינן צריכות להשתלב לחלוטין בזיכרון. שאילתות עם
<a href="https://www.postgresql.org/docs/13/ddl-partitioning.htm"> partitioned tables </a>
קיבלו שיפור ביצועים, מכיוון שכעת ישנם מקרים נוספים בהם ניתן לגזום מחיצות ולחבר ישירות את המחיצות.
</p>


<h3 dir="rtl">
אופטימיזציות ניהול
</h3>


<p dir="rtl">
<a href="https://www.postgresql.org/docs/13/routine-vacuuming.html"> Vacuuming </a>
הוא חלק חיוני בניהול של PostgreSQL, המאפשר לבסיס הנתונים להחזיר שטח אחסון לאחר עדכון ומחיקה של שורות. תהליך זה יכול גם להציב אתגרים ניהוליים, אם כי מהדורות קודמות של PostgreSQL עשו עבודה בכדי להקל על פעולה זו.
</p>
<p dir="rtl">
PostgreSQL 13 ממשיך לשפר את מערכת vacuuming עם
<a href="https://www.postgresql.org/docs/13/sql-vacuum.html"> הכנסת vacuuming מקביל לאינדקסי </a>
. בנוסף ליתרונות ביצועי vacuuming שהיא מציעה, ניתן לכוון את השימוש בתכונה חדשה זו לעומסי עבודה ספציפיים שכן DBA יכולים לבחור את מספר תהליכים מקבילים להפעלה. בנוסף ליתרונות הביצועים הללו, הוספות נתונים יכולות כעת להפעיל את תהליך autovacuum.
</p>
<p dir="rtl">
<a href="https://www.postgresql.org/docs/13/warm-standby.html#STREAMING-REPLICATION-SLOTSl"> Replication slots </a>
 המשמשות למניעת הסרת WAL לפני שהתקבלו על ידי רפליקה, ניתנים לכוון ב- PostgreSQL 13 כדי לציין את
<a href="https://www.postgresql.org/docs/13/runtime-config-replication.html#GUC-MAX-SLOT-WAL-KEEP-SIZE"> המספר המרבי של קבצי WAL שישמרו </a>
 לסייע למנוע שגיאות הקשורות לזמינות מקום בדיסק.
</p>
<p dir="rtl">
PostgreSQL 13 מוסיף גם דרכים נוספות שמנהל מערכת יכול להשתמש על מנת לפקח על פעילות מסדי נתונים, הכולל הפניה לסטטיסטיקה של שימוש ב- WAL מ- 'EXPLAIN', התקדמות streaming base backups והתקדמות פקודות ANALYZE. בנוסף, ניתן לבדוק את תקינות הפלט של הפקודה
<a href="https://www.postgresql.org/docs/13/app-pgbasebackup.html"> `pg_basebackup` </a>
באמצעות הפקודה החדשה
<a href="https://www.postgresql.org/docs/13/app-pgverifybackup.html"> `pg_verifybackup` </a>
.
</p>


<h3 dir="rtl">
נוחות לפיתוח אפליקציות
</h3>


<p dir="rtl">
PostgreSQL 13 מקל עוד יותר על העבודה עם סוגי נתונים של PostgreSQL המגיעים ממקורות נתונים שונים. מהדורה זו מוסיפה את הפונקציה
<a href="https://www.postgresql.org/docs/13/functions-json.html#FUNCTIONS-SQLJSON-OP-TABLE"> `datetime()` </a>
לתמיכת ב SQL/JSON path שלה, אשר ממירה פורמטים תקפים של זמן (למשל
מחרוזות ISO 8601) לסוגים מקוריים של PostgreSQL. בנוסף, פונקציית
<a href="https://www.postgresql.org/docs/13/functions-uuid.html"> `gen_random_uuid()` </a>


ליצירה של UUID v4, זמינה כעת ללא צורך בהתקנת תוסף כלשהו.
</p>
<p dir="rtl">
מערכת חלוקת הטבלאות של PostgreSQL הפכה להיות גמישה יותר, מכיוון שטבלאות מחולקות תומכות באופן מלא ברפליקציה לוגית וBEFORE row-level triggers.
</p>
<p dir="rtl">
התחביר
<a href="https://www.postgresql.org/docs/13/sql-select.html#SQL-LIMIT"> `FETCH FIRST` </a>
 ב- PostgreSQL 13 מורחב כעת לכלול את הסעיף 'WITH TIES'. כאשר צוין, 'WITH TIES' כולל כל הרשומות , בהתבסס על סעיף 'ORDER BY',  אשר 'מקושרות' עם הרשומה האחרונה בסט התוצאות.
</p>
<h3 dir="rtl">
שיפורי אבטחה
</h3>
<p dir="rtl">
מערכת ההרחבות של PostgreSQL היא מרכיב מרכזי בחוסן שלה מכיוון שהיא מאפשרת למפתחים להרחיב את הפונקציונליות שלה. במהדורות קודמות, רק משתמש-על של מסד נתונים יכל היה להתקין הרחבות חדשות. כדי להקל על ניצול תכונה זו PostgreSQL 13 מוסיף את הרעיון של
<a href="https://www.postgresql.org/docs/13/sql-createextension.html"> trusted extension </a>
, המאפשר למשתמשי מסד נתונים להתקין הרחבות שמשתמש-על סימן כ"אמינים". הרחבות מסוימות מובנות מסומנות ככה כברירת מחדל, כולל
<a href="https://www.postgresql.org/docs/13/pgcrypto.html"> `pgcrypto` </a>
 גם
<a href="https://www.postgresql.org/docs/13/tablefunc.html"> `tablefunc` </a>
גם
<a href="https://www.postgresql.org/docs/13/hstore.html"> `hstore` </a>
 ואחרים.
</p>
<p dir="rtl">
עבור יישומים הדורשים שיטות אימות מאובטחות, PostgreSQL 13 מאפשר ללקוחות לדרוש
<a href="https://www.postgresql.org/docs/13/libpq-connect.html#LIBPQ-CONNECT-CHANNEL-BINDING"> קשירת ערוצים </a>
 בעת שימוש
<a href="https://www.postgresql.org/docs/13/sasl-authentication.html#SASL-SCRAM-SHA-256"> באימות SCRAM </a>
.
גם
<a href="https://www.postgresql.org/docs/13/postgres-fdw.html"> עטיפת הנתונים הזרים </a>
 של PostgreSQL יכולה כעת להשתמש באימות מבוסס תעודות.
</p>


<h3 dir="rtl">
אודות PostgreSQL
</h3>
<p dir="rtl">
<a href="https://www.postgresql.org/"> PostgreSQL </a>
הוא מסד נתונים בקוד פתוח המתקדם ביותר בעולם, עם קהילה גלובלית של אלפי משתמשים, תורמים, חברות וארגונים. הפרויקט PostgreSQL נבנה על מעל 30 שנות הנדסה, החל באוניברסיטת קליפורניה, ברקלי, והמשיך להתפתח עם קצב ללא תחרות. ערכת התכונות הבשלות של PostgreSQL לא רק תואמת מערכות נתונים קנייניות מובילות, אלא עולה עליהן במאפיינים של מסדי נתונים מתקדמים ,הרחבה, אבטחה ויציבות.
תרגומי הודעה לעיתונות
</p>




<h3 dir="rtl">
קישורים
</h3>
<ul dir="rtl">
        <li>
<a href="https://www.postgresql.org/download/"> הורדות </a>
</li>
        <li>
<a href="https://www.postgresql.org/docs/13/release-13.htm"> הערות מהדורה </a>
</li>
        <li>
<a href="https://www.postgresql.org/docs/13/release-13.htm"> ערכת עיתונות </a>
</li>
        <li>
<a href="https://www.postgresql.org/support/security/"> עמוד אבטחה </a>
</li>
        <li>
<a href="https://www.postgresql.org/support/versioning/"> מדיניות גרסאות </a>
</li>
        <li>
<a href="https://twitter.com/postgresql"> עקוב אחרי @postgresql בטוויטר </a>
</li>


</ul>
